<a href="https://colab.research.google.com/github/20LanceMatira/OOP-58002/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

for loop

In [12]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

for loop through string

In [10]:
for x in "week":
  print(x)

w
e
e
k

for loop using break statement

In [17]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

to only display thursday

In [18]:
for x in week:
  if x == "Thursday":
    print(x)
    break

Thursday

range() function

In [24]:
for x in range(6):
  print(x)
for y in range(2,6):
  print(y)
for z in range(2,6+1,2):
  print(z)

0
1
2
3
4
5
2
3
4
5
2
4
6

Nested Loops

In [25]:
adjective = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While loop

In [26]:
i = 1
while i<=6:
  print(i)
  i+=1

1
2
3
4
5
6

while loop using break statement

In [41]:
i = 1
while i<=6:
  print(i)
  if i == 3:
    break
  i+=1

1
2
3

Application 1

In [34]:
Greet = ["Hello"]
num = ["1","2","3","4","5","6","7","8","9","10"]
for x in Greet:
  for y in num:
    print(x,y)

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 2

In [36]:
for x in range(3,10):
  print(x)

3
4
5
6
7
8
9