<a href="https://colab.research.google.com/github/20LanceMatira/OOP-58002/blob/main/Operations%26ExpressionsInPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Boolean Operators

In [ ]:
print(10>9)
print(10<9)
print(10==9)

True
False
False

In [ ]:
a = 10
b = 9 
print(a<b)
print(a==b)
print(a>b)
print(b==b)
print(a==a)

False
False
True
True
True

##Boolean/Bool() Function

In [ ]:
print(bool(1))
print(bool("Ana"))
print(bool(0))
print(bool(None))
print(bool([]))

True
True
False
False
False

##Boolean return function/Functions can return a Boolean

In [ ]:
def myFunction():
  return True

print(myFunction())

True

In [ ]:
def myFunction():
  return True
if myFunction():
    print("Yes!")
else:
    print("No!")

Yes!

In [ ]:

  a = 6
  b = 7
print(a==b)
print(a!=a)

False
False

##Python Operators

In [ ]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10//5)
print(10%5)
print(10**2)

15
5
50
2.0
2
0
100

##Bitwise Operators

In [ ]:
a = 60
b = 13

print(a>>1)
print(a<<1)
print(b>>1)
print(b<<1)

30
120
6
26

##Python Assignment Operators

In [ ]:
x = 1
x+=3 #same as x = x+3
print(x)
x=1
x-=3
print(x)
x=1
x*=3
print(x)
x=1
x/=3
print(x)
x=1
x%=3
print(x)
x=1
x//=3
print(x)

4
-2
3
0.3333333333333333
1
0

##Python Logical Operators

In [ ]:
x = True
y = False

In [ ]:
print(x and y)
print(x or y)
print(not(x or y))

False
True
False

##Python Identity Operators

In [ ]:
print(x is y)
print(x is not y)

False
True

##Application 1 Create an arithmetic calculator (MDAS)

In [95]:
s = int(input("1st Num :"))
t = int(input("2nd Num :"))
u = int(input("3rd Num :"))

print(s+t+u)
print(s-t-u)
print(s*t*u)
print(s/t/u)

1st Num : 178
2nd Num : 24
3rd Num : 61
263
93
260592
0.12158469945355192