<a href="https://colab.research.google.com/github/20LanceMatira/OOP-58002/blob/main/PythonFundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [ ]:
if 5>2:
 print("Five is greater than two/5>2")

Five is greater than two/5>2

Python Comment

In [ ]:
#ThisisaComment
print ("Hello World!")

Hello World!

Naming Variable

In [ ]:
#Single Variable with single value
x = 1
y = 2 
print (x)
print (y)

#Multiple Variable with a single value

a = b = c = "Lance Matira"
print (a)
print (b)
print (c)

#Multiple variables with multiple values
e, f, g, = 1, 2 ,3
print (e)
print (f)
print (g)

1
2
Lance Matira
Lance Matira
Lance Matira
1
2
3

Single or Double

In [ ]:
v = "sally"
u = 'sally'
print(u)
print(v)

sally
sally

Casting

In [ ]:
p = float(5)
p

5.0

Type() Function

In [ ]:
f = "Anna"
g = 4.56
print(type(f))
print(type(g))

<class 'str'>
<class 'float'>

Concatenation using + symbol

In [2]:
k = "enjoying"
j = "Python progamming is"
print("Python programming is "+ k )
print(j +" "+k)
#other example
x = "Python is "
y = "enjoying"
z = x+y 
print(z)

Python programming is enjoying
Python progamming is enjoying
Python is enjoying

Arithmethic Operations

In [3]:
x = 5 
y = 3 
print(x+y)

8

Assignment Operators

In [4]:
a,b,c = 0,-1,16 
print(a%3)
print(b%3)
print(c%3)

0
2
1

Logical Operators

In [5]:
a,b,c= 0,-1,16
print(a>b)
print(c>b)
#other example 
a>b and c>b

True
True

True

Identity Operators

In [6]:
a,b,c = 0,-1,5 
print(a is c)
print(b is a) 
print(c is b) 
print(a is not c) 
print(b is not a) 
print(c is not b)

False
False
False
True
True
True